<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LiftSimulatorMaster"
			 connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=master;Integrated Security=true;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="LiftSimulator"
			 connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=LiftSimulatorDB;Integrated Security=true;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>